input{
    width: 350px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
button{
    display: block;
    margin: 0 auto 10px auto;
}

input.input-error{
    border: 1px solid red;
}