input{
    width: 280px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.is-valid{
    border: 1px solid green;
}
.is-invalid{
    border: 1px solid red;
}